@charset "utf-8";
/* CSS Document */

/* 효율성을 높이는 연구를 해야 한다. */

/*
	텍스트 : 가독성(잘보여야 한다.) + 심미성(잘 보이고 안보이고 상관X)
	가독성 : 이미지와 본문의 강약 조절, 강한 이미지 위에 텍스트 있으면 안보인다.
				인터렉션은 step-by-step 으로. 예) 이미지▶텍스트▶서브페이지 연결
				(사람 눈이 한 번에 다 못보기 때문에)
				
	클릭한 에너지에 대한 보상을 주도록 설계
	
	이력서에 영문으로
	interaction 효과를 주기 위해 box-shadow를 적극적으로 활용했다.
	가장 중요한 것부터
	자바 인터페이스를 이야기하면 앞에 내용 다 안다는 이야기. 최종버전을 이야기하면 끝!
	사수가 자기와 같이 근무할 사람을 뽑는다. 기본적인 패러다임은 마스터 해야 한다.
	콩이면 떡이다는 무조건 숙지. 알고리즘은 별로 중요X 하면서 늘어감.
	막 물어보고 시험도 본다. 서술시험 본다. 손코딩 빈칸 등등
	여기까지는 구체적으로 적는 사람 많다.
	그 다음은 발전가능성, 인성, 커뮤니케이션 본다.
	겸손해야 발전가능성 높다. 알면 알수록  겸손
	아는 부분은 자신감 넘치게, 하지만 겸손하게
	하나를 알면 백개를 모르겠고, 백개를 알면 만개를 모르겠다;;
	
	더 다이나믹하게 하기 위해 수업시간에 한 것에서 그치지 말고 새로운거 연구/테스트
	판단 느리면 개발기간 늘어나고 맨날 야근한다.
	프론트엔드는 입사하고 일주일 후부터 바로 일해야 한다.
	3개월 수습기간에 능력 보여주고, 연봉협상 다시한다.
*/

.ch-item {
	width:100%; height:100%; 
	border-radius:50%;
	cursor:pointer;
	/* 있는건 없애고, 없는건 있게 변환하기 위해서 */
	box-shadow:0 0 0 0 rgba(200, 95, 66, 0.4) inset
		,0 0 0 20px rgba(255,255,255,0.7) inset
		,0 2px 2px rgba(0,0,0,0.3);
	transition:all 0.4s ease-in;
}

.ch-img-1 { background:url(../imgs/4.jpg) no-repeat center center; }
.ch-img-2 { background:url(../imgs/5.jpg) no-repeat center center; }
.ch-img-3 { background:url(../imgs/6.jpg) no-repeat center center; }

.ch-info { /*구조를 전체 적고 시작하자 (숲▶나무)*/
	width:100%; height:100%;
	border-radius:50%;
	/* background:rgba(255,204,0,0.3); 레이아웃 중간확인하고 지움*/
	opacity:0;
	transform:scale(0);
	transition:all 0.4s ease-out; /* 가속도 위와 다르게 out으로 */
}
.ch-info h3 {
	height:120px; /* 밑의 글자를 밑으로 옮기기 위함 */ margin:0 20px; /*보더 라인을 그림자 안쪽으로 가두기 위함*/ padding-top:65px; /* line height로 띄우면 서체가 바뀌었을때 계속 속성값을 바꿔주어야 함. 유지보수 측면에서는 padding으로 띄워야 좋다. padding은 서체와 관계가 없다. line-height는 보통 정중앙일때만 써야 하지 않을까?? */
	font-size:24px; color:#FFF; font-weight:700; /* h3이 아니라 서체에서 지원하는 볼드로 변경 */
	text-align:center; text-transform:uppercase;
	text-shadow:0 0 1px rgba(255,255,255,1), 0 1px 2px rgba(0,0,0,0.4);
	/* 
	0 0 - outerglow 동서남북 번짐효과 - 조금만 쓰는 것이 좋다. 
	텍스트에는 그림자 거의 5px 이하, 보통은 1px
	*/
	border-bottom:1px dashed rgba(255,255,255,0.6);
	/* css3 에서는 색상은 무조건 rgba를 사용한다. - 고급진 효과 알파값!*/
}
.ch-info p {
	/* 
	웹 표준에서는 <br> 태그 절대 사용하지 않는다. width를 줄여서 줄바꿈 유도한다. 
	하나 작성하고 바로 확인하는 습관
	padding 사용했으므로 margin으로 줄바꿈 유도
	(width로 잡으면 어차피 margin:0 auto 써야 하므로 처음부터 margin으로)
	인라인 박스라서 줄 안바뀌므로 a박스를 블록형으로 변환
	*/
	margin:0 35px; padding-top:15px; 
	font-size:12px; color:#FFF; font-style:italic;
	text-align:center; 
}
.ch-info p a {
	/*
	이탤릭을 안쓰기 위해 노멀
	*/
	display:block;
	color:#FFF; font-style:normal; font-weight:700;
	text-transform:uppercase;
	text-shadow:1px 1px 2px rgba(0,0,0,0.6);
}
.ch-info p a:hover {
	color:rgba(255,242,34,0.8);
}





/*///// 박스에 마우스오버 했을 때 /////*/
.ch-item:hover {
	box-shadow:0 0 0 110px rgba(57, 2, 2, 0.6) inset 
		/* 텍스트 가독성 높이기 위해 뒷 배경을 진하게 - 포토샵에서 얻어온거 그대로 rgb 넣는다. */
		,0 0 0 20px rgba(255,255,255,0.5) inset /* 알파값 낮춤 */
		,0 2px 2px rgba(0,0,0,0.3); /* 박스영역 바깥 그대로 */
}
.ch-item:hover .ch-info {
	opacity:1;
	transform:scale(1);
}
























