@charset "utf-8";
/* CSS Document */

/* 
index6에서 perspective 분리해내는 작업
부모박스(perspective)와 자식박스(transform-style:preserve-3d;)를 따로따로 주의

활용예
회사로고 소개 : 건물,
이력서:나의 얼굴(흑백처리 어둡게-가장자리 좀더 짙게)

타이틀, p박스 
위:padding-top  (= line-height 로 하다가 줄바꿈 일어나면 망한다.)
중앙:text-align:center;

transform:translate3d(x, -y, -z) rotate-3d(-x, ?, ?) 방향
*/

.ch-item {
	position:relative; width:100%; height:100%;
	border-radius:50%;
	box-shadow:0 2px 2px rgba(0,0,0,0.3);
	perspective:900px;
}


.ch-info {
	position:absolute;
	width:100%; height:100%;
	border-radius:50%; 
	transform-style:preserve-3d;
}


.ch-info > div {
	position:absolute; width:100%; height:100%;
	border-radius:50%;
	transition:all 0.4s ease-out;
	transform-origin:50% 0;
}
.ch-info-front {
	box-shadow:0 0 0 20px rgba(0,0,0,0.3) inset;
}
.ch-info-back { 
	-webkit-transform:translate3d(0, 0, -220px) rotate3d(1,0,0,90deg);
	-moz-transform:translate3d(0, 0, -220px) rotate3d(1,0,0,90deg);
	-o-transform:translate3d(0, 0, -220px) rotate3d(1,0,0,90deg);
	-ms-transform:translate3d(0, 0, -220px) rotate3d(1,0,0,90deg);
	transform:translate3d(0, 0, -220px) rotate3d(1,0,0,90deg);
	background:#222;
	opacity:0;
}



.ch-img-1 { background:url(../imgs/19.jpg) no-repeat center center; z-index:9; }
.ch-img-2 { background:url(../imgs/20.jpg) no-repeat center center; z-index:8; }
.ch-img-3 { background:url(../imgs/21.jpg) no-repeat center center; z-index:7;}
/* z-index로 줄바꿈시 겹침 미리 방지 */



.ch-info-back h3 {
	height:110px; padding-top:50px;
	font-size:22px; color:#FFF; font-weight:700;
	text-align:center; text-transform:uppercase;
	text-shadow:0 0 1px #FFF
		,0 1px 1px rgba(0,0,0,0.4);
	/* text-shadow:0 0 : innerglow or outerglow. 하지만 텍스트는 outerglow, dropshadow만 사용한다. */
	border-bottom:1px dashed rgba(255,255,255,0.3); 
	/* double : 두 줄 / K7 페이스리프트 뒤쪽 점선 - 요즘은 점선이 유행 */
}
.ch-info-back p {
	padding-top:30px; 
	/* 
	width 값 주었으므로 margin으로 중앙 정렬 
	width 바꿔도 줄바꿈시
	1.font-size
	2.letter-spacing:-0.5px
	*/
	font-size:12px; color:#E7615E; font-style:italic;
	text-align:center;
}
.ch-info-back p a {
	display:block; /*width height를 주기 위해 */
	color:#F4F4F4; font-style:normal; font-weight:700;
	text-transform:uppercase;
}
.ch-info-back p a:hover { color:#FF0; }






/*///// 부모박스에 마우스 오버했을 때 자식 박스에 효과적용 /////*/
.ch-item:hover .ch-info-front {
	-webkit-transform:translate3d(0, 300px, 0) rotate3d(1,0,0,-90deg);
	-moz-transform:translate3d(0, 300px, 0) rotate3d(1,0,0,-90deg);
	-o-transform:translate3d(0, 300px, 0) rotate3d(1,0,0,-90deg);
	-ms-transform:translate3d(0, 300px, 0) rotate3d(1,0,0,-90deg);
	transform:translate3d(0, 300px, 0) rotate3d(1,0,0,-90deg);
	box-shadow:0 0 5px rgba(255,255,255,0.3) inset,
		0	0	3px rgba(0,0,0,0.4) inset;
		opacity:0;
}
.ch-item:hover .ch-info-back { 
	-webkit-transform:rotate3d(1,0,0,0deg);
	-moz-transform:rotate3d(1,0,0,0deg);
	-o-transform:rotate3d(1,0,0,0deg);
	-ms-transform:rotate3d(1,0,0,0deg);
	transform:rotate3d(1,0,0,0deg);
	background:#222;
	opacity:1;
}















